In [1]:
import firebase_admin
from firebase_admin import credentials, firestore
import pandas as pd

In [2]:

df=pd.read_csv("orginal_sales_data_edit.csv",encoding="utf-8",header=0,delimiter=',')

In [3]:
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,PAYMENTFULLNAME
0,10107,30,95.70,2,2871.00,2/24/2003,Shipped,1,2,2003,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,Yu Kwai
1,10121,34,81.35,5,2765.90,5/7/2003,Shipped,2,5,2003,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,Henriot Paul
2,10134,41,94.74,2,3884.34,7/1/2003,Shipped,3,7,2003,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,DaCunha Daniel
3,10145,45,83.26,6,3746.70,8/25/2003,Shipped,3,8,2003,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,Young Julie
4,10159,49,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,Brown Julie

In [4]:
cred=credentials.Certificate("./iuh-20005201-c6660-firebase-adminsdk-e6q8v-d8f9173763.json")
app=firebase_admin.initialize_app(cred)

In [5]:
dbFireStore=firestore.client()
for item in df.to_dict(orient='records'):
    doc_ref = dbFireStore.collection("tbl-20005201").document()
    doc_ref.set(item)

In [6]:
queryResults = list(dbFireStore.collection(u'tbl-20005201').stream())
listQueryResult = list(map(lambda x : x.to_dict(), queryResults))
df = pd.DataFrame(listQueryResult)
df

,TERRITORY,ORDERLINENUMBER,SUBCATEGORY,CITY,STATUS,ADDRESSLINE1,ADDRESSLINE2,YEAR_ID,CONTACTLASTNAME,COUNTRY,...,ORDERNUMBER,PHONE,DEALSIZE,PAYMENTFULLNAME,MONTH_ID,STATE,MSRP,CATEGORY,PRODUCTCODE,POSTALCODE
0,EMEA,3,Table,Koln,Shipped,Mehrheimerstr. 369,NaN,2004,Pfalzheim,Germany,...,10310,0221-5554327,Large,Pfalzheim Henriette,10,NaN,169,Furniture,S18_3232,50739
1,EMEA,2,Lamp,Manchester,Shipped,Fauntleroy Circus,NaN,2003,Ashworth,UK,...,10110,(171) 555-1555,Small,Ashworth Victoria,3,NaN,44,Office Supplies,S24_2022,EC2 5NT
2,EMEA,9,Table,Oulu,Shipped,Torikatu 38,NaN,2003,Koskitalo,Finland,...,10151,981-443655,Small,Koskitalo Pirkko,9,NaN,60,Furniture,S18_2432,90110
3,EMEA,14,Eraser,Nantes,Shipped,"67, rue des Cinquante Otages",NaN,2005,Labrune,France,...,10375,40.67.8555,Small,Labrune Janine,2,NaN,69,Office Supplies,S24_2360,44000
4,EMEA,9,Bookshelf,Koln,Shipped,Mehrheimerstr. 369,NaN,2003,Pfalzheim,Germany,...,10191,0221-5554327,Medium,Pfalzheim Henriette,11,NaN,62,Furniture,S18_3782,50739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,APAC,9,Smart watch,Chatswood,Shipped,"Monitor Money Building, 815 Pacific Hwy",Level 6,2004,Huxley,Australia,...,10361,+61 2 9495 8555,Small,Huxley Adrian,12,NSW,99,Technology,S700_2466,2067
2819,NaN,2,Desk,NYC,Shipped,5905 Pompton St.,Suite 750,2003,Hernandez,USA,...,10163,2125558493,Medium,Hernandez Maria,10,NY,101,Furniture,S18_2949,10022
2820,EMEA,2,Eraser,Koln,Shipped,Mehrheimerstr. 369,NaN,2003,Pfalzheim,Germany,...,10191,0221-5554327,Small,Pfalzheim Henriette,11,NaN,61,Office Supplies,S24_3371,50739
2821,NaN,5,Pen,NYC,Shipped,5290 North Pendale Street,Suite 200,2004,Kuo,USA,...,10319,2125551957,Small,Kuo Kee,11,NY,40,Office Supplies,S32_2206,10022
2822,NaN,2,Bookshelf,Glendale,Shipped,2440 Pompton St.,NaN,2003,Lewis,USA,...,10146,2035554407,Medium,Lewis Dan,9,CT,62,Furniture,S18_3782,97561

In [7]:
queryResults1 = list(dbFireStore.collection(u'tbl-20005201').where(u'COUNTRY', u'==', 'USA').stream())
listQueryResult1 = list(map(lambda x : x.to_dict(), queryResults1))
df1 = pd.DataFrame(listQueryResult1)
df1

,TERRITORY,SUBCATEGORY,ORDERLINENUMBER,CITY,STATUS,ADDRESSLINE1,ADDRESSLINE2,YEAR_ID,CONTACTLASTNAME,COUNTRY,...,ORDERNUMBER,PHONE,DEALSIZE,PAYMENTFULLNAME,MONTH_ID,STATE,MSRP,CATEGORY,PRODUCTCODE,POSTALCODE
0,NaN,Lamp,3,Philadelphia,Shipped,782 First Street,NaN,2004,Cervantes,USA,...,10307,2155554695,Small,Cervantes Francisca,10,PA,65,Office Supplies,S24_3420,71270
1,NaN,Lamp,7,Burlingame,Shipped,9408 Furth Circle,NaN,2003,Hirano,USA,...,10140,6505556809,Small,Hirano Juri,7,CA,64,Office Supplies,S32_3522,94217
2,NaN,Cabinet,9,San Francisco,Shipped,7734 Strong St.,NaN,2005,Brown,USA,...,10381,6505551386,Small,Brown Julie,2,CA,53,Furniture,S18_1367,NaN
3,NaN,Table,5,Pasadena,Resolved,78934 Hillside Dr.,NaN,2005,Young,USA,...,10367,6265557265,Medium,Young Julie,1,CA,127,Furniture,S18_2325,90003
4,NaN,Ruler,13,Brickhaven,Shipped,7635 Spinnaker Dr.,NaN,2004,Barajas,USA,...,10276,6175557555,Medium,Barajas Miguel,8,MA,102,Office Supplies,S32_4485,58339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,NaN,Headphone,5,Boston,Shipped,8616 Spinnaker Dr.,NaN,2004,Yoshido,USA,...,10264,6175559555,Medium,Yoshido Juri,6,MA,81,Accessories,S50_4713,51003
1000,NaN,Table,11,Philadelphia,Shipped,11328 Douglas Av.,NaN,2004,Hernandez,USA,...,10331,2155559857,Medium,Hernandez Rosa,11,PA,169,Furniture,S18_3232,71270
1001,NaN,Desk,2,NYC,Shipped,5905 Pompton St.,Suite 750,2003,Hernandez,USA,...,10163,2125558493,Medium,Hernandez Maria,10,NY,101,Furniture,S18_2949,10022
1002,NaN,Pen,5,NYC,Shipped,5290 North Pendale Street,Suite 200,2004,Kuo,USA,...,10319,2125551957,Small,Kuo Kee,11,NY,40,Office Supplies,S32_2206,10022
1003,NaN,Bookshelf,2,Glendale,Shipped,2440 Pompton St.,NaN,2003,Lewis,USA,...,10146,2035554407,Medium,Lewis Dan,9,CT,62,Furniture,S18_3782,97561